:root{
    --dark-background: #151515;
    --light-font-color: white;
    --light-green: #4DE19F;
}
body{
    margin: 0;
    background-color: var(--dark-background);
    color: var(--light-font-color);
    font-family: 'Mitr', sans-serif;
    font-size: 24px;
}
header{
    display: flex;
    justify-content: space-between;
    margin: 2vw 15vh;
}
h1{
    font-size: 5rem;
    font-family: 'Overpass', sans-serif;
}
.header-name{
    font-size: 2rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}
.burger-menu-btn{
    display:none;
    width:30px;
}
.navigation-menu{
    display: flex;
}
.navigation-menu div{
    padding: 0.7rem;
}
.navigation-menu div:hover{
    cursor: pointer;
    -moz-box-shadow: inset 0 -10px 10px -14px #fff;
    -webkit-box-shadow: inset 0 -10px 10px -14px #fff;
    box-shadow: rgb(255 255 255) 0px -10px 10px -14px inset;
    border-radius: 4px;
}
.about-me{
    display: flex;
    margin: 0 10vw; 
    border-bottom: 1px solid white;
    padding-bottom: 30vh;
    justify-content: space-between;
}
.introduction-photo img{
    position: absolute;
    top: 0;
    right:15vw;
    width: 30vw;
    z-index: -1;
}
.introduction-text img{
    position: absolute;
    top: 50vh;
    left: 4vw;
    width: 10vw;
    z-index: -1;
    filter: invert(94%) sepia(4%) saturate(171%) hue-rotate(226deg) brightness(117%) contrast(100%);
    opacity: 0.4;
}
.welcome-text span{
    text-decoration: underline var(--light-green) 0.4rem;
    text-underline-offset: 1.1rem;
}
.short-introduction{
    font-size: 1.1rem;
    margin-bottom: 30px;
    max-width: 35vw;
}
.contact-btn{
    background-color: transparent;
    border: solid 4px transparent;
    border-bottom: solid var(--light-green) 4px;
    padding: 0.5rem;
    font-size: 1.3rem;
    color: var(--light-font-color);
    font-family: 'Overpass', sans-serif;
    width: fit-content;
}
.contact-btn:hover{
    border: solid var(--light-green) 4px;
    cursor: pointer;
}
.decoration-circle{
    border: 1px solid white;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    opacity: 0.7;
    position: absolute;
    top: 50vh;
    right: 12vw;
}
.separator{
    width: 70vw;
    border: 1px solid white;
    margin-left: 15vw;
}
.technologies{
    display: flex;
    gap: 30px;
    justify-content: space-evenly;
    margin: 10vh 10vw;
    align-items: center;
}
.technologies img{
    width: 150px;
    filter: invert(99%) sepia(99%) saturate(2%) hue-rotate(37deg) brightness(113%) contrast(100%);
}
.technologies div{
    border: 1px solid white;
    border-radius: 15px;
    flex: 1;
    text-align: center;
    padding: 20px 0 5px 0;
}
.projects{
    margin: 0 10vw; 
}
.project-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.project-header h2{
    font-size: 5rem;
}
.projects-thumbnail{
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: 50px
}
.projects-thumbnail img{
    max-width: 100%;
}
.projects-thumbnail h3{
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 1.6rem;
    font-family: 'Overpass', sans-serif;
}
.projects-thumbnail span{
    font-size: 1rem;
    opacity: 0.8;
}


/*MEDIA QUERY*/
@media only screen and (max-width: 1400px) {
    .about-me{
        margin:0;
        align-items: center;
        width: 100vw;
        flex-direction: column-reverse;
        padding-bottom: 10vh;
    }
    .about-me img{
        position: static;
        width: 200px;
        height: 200px;
        border-radius:50%;
        object-fit: cover; 
    }
    .welcome-text{
        text-align: justify;
    }
    .decoration-circle{
        display: none;
    }
    .solar-icon{
        display: none;
    }
}


@media only screen and (max-width: 950px) {
    h1{
        font-size: 3rem;
    }
    header{
        justify-content: center;
        margin: 1vw 5vh;
    }
    .header-name{
        display: none;
    }
    .introduction-text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .short-introduction{
        max-width: 60%;
    }
    .technologies{
        flex-wrap: wrap;
    }
}